body,
html {
  margin: 0px;
  background-color: #444;
  height: 100%;
  font-family: Copperplate, "Copperplate Gothic Light";
}

main {
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: fixed;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-image: linear-gradient(#0277bd, teal);
  border: 1px solid white;
  border-radius: 10%;
}

li img {
  position: fixed;
  margin-top: -4px;
  left: 0;
  display: inline;
}

#titleImagePair {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

#titleImage {
  height: 100px;
}

#leftFloat {
  width: 100%;
}

#leftFloat h1 {
  margin-left: 40%;
}

#imageDisplay {
  border: 3px solid gray;
  margin-left: 27%;
  margin-bottom: 1%;
  height: 500px;
  width: 540px;
}

#thumbnailPictures {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 27%;
  width: 600px;
  transition: transform 400ms ease-out;
}

#thumbnailImage {
  height: 85px;
  width: 85px;
  border: 3px solid gray;
  margin: 0px;
}

#thumbnailImage:hover {
  transform: scale(1.2);
}

#floatRight {
  margin-top: 1%;
  width: 100%;
}

#floatRight h1 {
  margin-left: 35%;
}

form {
  margin-left: 40%;
  padding: 10px;
}

input {
  font-family: Copperplate, "Copperplate Gothic Light";
  font-size: 17px;
  border: none;
}

input[type="submit"] {
  margin-top: 5px;
  margin-left: 50px;
  background-color: #333;
  color: white;
  text-align: center;
  text-decoration: none;
}

input[type="submit"]:hover {
  background-image: linear-gradient(#0277bd, teal);
}

@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
}

@media only screen and (max-width: 600px) {
  body,
  html {
    margin: 0px;
    background-color: #444;
    height: 100%;
    font-family: Copperplate, "Copperplate Gothic Light";
  }

  main {
    padding: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li img {
    position: fixed;
    margin-top: -4px;
    left: 0;
    display: inline;
  }

  #titleImagePair {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  }

  #titleImage {
    height: 100px;
  }

  #leftFloat {
    width: 100%;
  }

  #leftFloat h1 {
    margin-left: 40%;
  }

  #imageDisplay {
    border: 3px solid gray;
    margin-left: 27%;
    margin-bottom: 1%;
    height: 500px;
    width: 540px;
  }

  #thumbnailPictures {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 27%;
    width: 600px;
    transition: transform 400ms ease-out;
  }

  #thumbnailImage {
    height: 85px;
    width: 85px;
    border: 3px solid gray;
    margin: 0px;
  }

  #thumbnailImage:hover {
    transform: scale(1.2);
  }

  #floatRight {
    margin-top: 1%;
    width: 100%;
  }

  #floatRight h1 {
    margin-left: 35%;
  }

  form {
    margin-left: 40%;
    padding: 10px;
  }

  input {
    font-family: Copperplate, "Copperplate Gothic Light";
    font-size: 17px;
    border: none;
  }

  input[type="submit"] {
    margin-top: 5px;
    margin-left: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  @media print {
    body {
      margin: 0;
      color: #000;
      background-color: #fff;
    }
  }
}

@media only screen and (max-width: 768px) {
  body,
  html {
    margin: 0px;
    background-color: #444;
    height: 100%;
    font-family: Copperplate, "Copperplate Gothic Light";
  }

  main {
    padding: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li img {
    position: fixed;
    margin-top: -4px;
    left: 0;
    display: inline;
  }

  #titleImagePair {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  }

  #titleImage {
    height: 100px;
  }

  #leftFloat {
    width: 100%;
  }

  #leftFloat h1 {
    margin-left: 40%;
  }

  #imageDisplay {
    border: 3px solid gray;
    margin-left: 27%;
    margin-bottom: 1%;
    height: 500px;
    width: 540px;
  }

  #thumbnailPictures {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 27%;
    width: 600px;
    transition: transform 400ms ease-out;
  }

  #thumbnailImage {
    height: 85px;
    width: 85px;
    border: 3px solid gray;
    margin: 0px;
  }

  #thumbnailImage:hover {
    transform: scale(1.2);
  }

  #floatRight {
    margin-top: 1%;
    width: 100%;
  }

  #floatRight h1 {
    margin-left: 35%;
  }

  form {
    margin-left: 40%;
    padding: 10px;
  }

  input {
    font-family: Copperplate, "Copperplate Gothic Light";
    font-size: 17px;
    border: none;
  }

  input[type="submit"] {
    margin-top: 5px;
    margin-left: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  @media print {
    body {
      margin: 0;
      color: #000;
      background-color: #fff;
    }
  }
}

@media only screen and (min-width: 1200px) {
  body,
  html {
    margin: 0px;
    background-color: #444;
    height: 100%;
    font-family: Copperplate, "Copperplate Gothic Light";
  }

  main {
    padding: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li img {
    position: fixed;
    margin-top: -4px;
    left: 0;
    display: inline;
  }

  #titleImagePair {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  }

  #titleImage {
    height: 100px;
  }

  #leftFloat {
    width: 100%;
  }

  #leftFloat h1 {
    margin-left: 40%;
  }

  #imageDisplay {
    border: 3px solid gray;
    margin-left: 27%;
    margin-bottom: 1%;
    height: 500px;
    width: 540px;
  }

  #thumbnailPictures {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 27%;
    width: 600px;
    transition: transform 400ms ease-out;
  }

  #thumbnailImage {
    height: 85px;
    width: 85px;
    border: 3px solid gray;
    margin: 0px;
  }

  #thumbnailImage:hover {
    transform: scale(1.2);
  }

  #floatRight {
    margin-top: 1%;
    width: 100%;
  }

  #floatRight h1 {
    margin-left: 35%;
  }

  form {
    margin-left: 40%;
    padding: 10px;
  }

  input {
    font-family: Copperplate, "Copperplate Gothic Light";
    font-size: 17px;
    border: none;
  }

  input[type="submit"] {
    margin-top: 5px;
    margin-left: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  @media print {
    body {
      margin: 0;
      color: #000;
      background-color: #fff;
    }
  }
}
