body,
html {
  margin: 0px;
  background-image: url("../resources/resumeTopPicture.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80%;
  font-family: Copperplate, "Copperplate Gothic Light";
}

ul {
  list-style-type: none;
  list-style: inside;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
}

li {
  float: right;
  /* transition: 0.3s; */
  padding: 1px;
  font-family: Copperplate, "Copperplate Gothic Light";
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-image: linear-gradient(#0277bd, teal);
  border: 1px solid white;
  border-radius: 10%;
}

li img {
  position: fixed;
  margin-top: -4px;
  left: 0;
  display: inline;
}

main {
  margin-top: 15%;
  height: 97%;
}

.stickyNotes {
  position: absolute;
  left: 38%;
  font-family: "Indie Flower", cursive;
}

[class^="hvr-"] {
  margin: 0.4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

/* Curl Bottom Right */
.hvr-curl-bottom-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-curl-bottom-right:before {
  pointer-events: none;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(315deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-bottom-right:hover:before,
.hvr-curl-bottom-right:focus:before,
.hvr-curl-bottom-right:active:before {
  width: 100px;
  height: 100px;
}

.aboutMeDiv {
  background: #ece6d3;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 310px;
  width: 310px;
  transition: 0.3s;
  padding-left: 5px;
}

.aboutMeDiv h1 {
  margin-top: 5px;
}

.aboutMeDiv img {
  height: 200px;
  width: 150px;
  margin-left: 140px;
  margin-top: 15px;
}

.fromDiv {
  display: none;
  flex-direction: column;
  background: coral;
  position: absolute;
  top: 0;
  left: 0;
  height: 310px;
  width: 310px;
  transition: 0.3s;
  padding-left: 5px;
}

.fromDiv img {
  height: 250px;
  width: 200px;
  margin-left: 100px;
}

.usuDiv {
  display: none;
  flex-direction: column;
  background: lightsteelblue;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 305px;
  transition: 0.3s;
  padding: 10px 0px 0px 10px;
}

.usuDiv img {
  width: 250px;
  margin-left: 50px;
}

.majorsDiv {
  display: none;
  flex-direction: column;
  background: lightpink;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 305px;
  transition: 0.3s;
  padding: 10px 0px 0px 10px;
}

.majorsDiv img {
  width: 250px;
  margin-left: 50px;
  margin-top: -5px;
}

@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
}
