body,
html {
  margin: 0px;
  background-image: url("../resources/resumeTopPicture.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: "Indie Flower", cursive;
}

ul {
  text-align: center;
  list-style: inside;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
}

li {
  float: right;
  padding: 1px;
  font-family: Copperplate, "Copperplate Gothic Light";
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-image: linear-gradient(#0277bd, teal);
  border: 1px solid white;
  border-radius: 10%;
}

li img {
  position: fixed;
  margin-top: -4px;
  left: 0;
  display: inline;
}

main {
  width: 45%;
  background-color: #ece6d3;
  height: 110%;
}

#paper {
  position: absolute;
  top: 90%;
  left: 27%;
}

#paper::before {
  content: "";
  width: 2px;
  height: 110%;
  position: absolute;
  top: 0%;
  left: 5%;
  background-color: rgba(255, 0, 0, 0.6);
}

.pattern {
  height: 90%;
  background-image: repeating-linear-gradient(
    #ece6d3 0px,
    #ece6d3 24px,
    teal 25px
  );
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: black;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-top: 50px;
  color: black;
  font-weight: bold;
}

h3 {
  text-align: center;
  color: black;
  font-weight: bold;
}

h4 {
  text-align: center;
  color: black;
  font-weight: bold;
}

p {
  margin: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  padding-left: 30px;
}

#skills {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: transparent;
  font-family: "Indie Flower", cursive;
}

.skillsItem {
  float: none;
  font-family: "Indie Flower", cursive;
}

#resumeContent {
  height: 110%;
}

.parallax {
  min-height: 100vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  padding: 2px 16px;
}

@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
}
